<% layout("/layouts/boilerplate") %>
  <body>
    <h3>Edit your Listing</h3>
    <form 
      method="POST" 
      action="/listings/<%= listing._id %>?_method=PUT" 
      novalidate  class="needs-validation" 
      enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]"
         value="<%= listing.title %>" type="text" 
         class="form-control"
         required />

      </div>
      <br /><br />
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"
        class="form-control"
        required><%= listing.description %>
        </textarea>

      </div>
      
      <br /><br />
      <div class="mb-1">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" 
         type="file"
         class="form-control"/>

      </div>
      <br /><br />
      Old Image preview
      <div class="mb-1">
        <img src="<%= originalImageUrl %>" alt="">
      </div>
      
      <br /><br />
      <div class="mb-1">
        <label for="price" class="form-label">Price</label>    
        <input name="listing[price]"
       value="<%= listing.price %>" 
       class="form-control" required />
      </div>
      
      <br /><br />
      <div class="mb-1" >
        <label for="country" class="form-label" required >Country</label>    
        <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
      />
      </div>
      
      <br /><br />
      <div class="mb-1" >
        <label for="location" class="form-label" required >Location</label>    
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required 
      />
      </div>
      
      <br /><br />
      <button class="btn btn-dark">Edit</button>
    </form>
  </body>

