<% layout("/layouts/boilerplate") %>
<body>
    <h2>All listings</h2>
    <!-- <form method="get" action="/listings/new">
        <button>Crete new Listing</button>
    </form> -->
    
         <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sl-1">
        <% for(let listing of allListings){ %>
            <a  href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card-col listing-card" >
                <img src="<%= listing.image %>"
                 class="card-img-top"
                alt="..." style="height: 15rem"/>
                <div class="card-img-overlay">ayush</div>
                <div class="card-body">
                  <h5 class="card-title"><%=listing.title%></h5>
                  <p class="card-text"><%=listing.price.toLocaleString("en-IN")%>/Per Night</p>
                  <p class="card-text"><%=listing.description%></p>
                </div>
              </div>
            </a>
         <% } %> 
    </div>
    
        
</body>


